[buildout]
parts =
    django
    django-gunicorn
    init-gunicorn
    django-settings
    nginx-conf
    mkdirs
    collectstatic
develop = 
    .
    ..
extra-paths = 
versions = versions
eggs =
    gunicorn
    livembtiles

[django]
recipe = isotoma.recipe.django
project = livembtiles
settings = settings
projectpath = ${buildout:directory}/${django:project}
wsgi = true
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}

[django-gunicorn]
recipe = zc.recipe.egg
scripts = gunicorn_django
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}
entry-points = gunicorn_django=gunicorn.app.djangoapp:run

[init-gunicorn]
recipe = collective.recipe.template
settings = ${django:projectpath}/${django:settings}.py
bind = 127.0.0.1
port = 8000
workers = 4
user = www-data
logfile = ${buildout:directory}/var/log/gunicorn.log
pidfile = ${buildout:directory}/var/run/gunicorn.pid
input = conf/gunicorn.in
output = ${buildout:directory}/etc/init.d/gunicorn

[nginx-conf]
recipe = collective.recipe.genshi
port = 80
# See settings.STATIC_URL && STATIC_ROOT
staticurl = /static
staticroot = ${buildout:directory}/static
input = conf/nginx.conf.in
output = ${buildout:directory}/etc/nginx/livembtiles.conf
expiretime = 1d
cache = False
cachename = one
cachetime = 1d

[django-settings]
recipe = collective.recipe.template
debug = True
input = conf/local_settings.py.in
output = ${django:projectpath}/local_settings.py

[mkdirs]
recipe = z3c.recipe.mkdir
# See settings.MBTILES_ROOT
paths = ${buildout:directory}/data

[collectstatic]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = ${buildout:directory}/bin/django collectstatic --noinput

[versions]
Django = 1.5.2
landez = 2.1.1
collective.recipe.cmd = 0.5
collective.recipe.template = 1.9
collective.recipe.genshi = 1.0
easydict = 1.3
gunicorn = 0.13.4
isotoma.recipe.django = 3.1.5
z3c.recipe.mkdir = 0.3.1
zc.recipe.egg = 1.2.2
