{% load static %}
<script src="{% static "mbtilesmap/modestmaps.min.js" %}" type='text/javascript'></script>
<script src="{% static "mbtilesmap/wax.mm.min.js" %}" type='text/javascript'></script>
<script src="{% static "mbtilesmap/easey.js" %}" type='text/javascript'></script>
<script src="{% static "mbtilesmap/easey.handlers.js" %}" type='text/javascript'></script>

<link href="{% static "mbtilesmap/controls.css" %}" rel='stylesheet' type='text/css' />
<style>
    .map {
        min-height: 300px;
    }
</style>
