<div id='map-{{map.id}}' class="map"></div>
<script>
var mm = com.modestmaps;
var url = '{% url mbtilesmap:jsonp name=map.id %}';

wax.tilejson(url, function(tilejson) {
  var m = new mm.Map('map-{{map.id}}',
    new wax.mm.connector(tilejson));

  m.setCenterZoom(new mm.Location(tilejson.center[1],
                                  tilejson.center[0]),
                                  tilejson.center[2]);
  wax.mm.zoomer(m).appendTo(m.parent);
  wax.mm.legend(m, tilejson).appendTo(m.parent);
  wax.mm.attribution(m, tilejson).appendTo(m.parent);
  wax.mm.interaction(m, tilejson);
});
</script>
