{% extends "base.html" %}
{% load i18n %}

{% block body %}
    {% for map in maps %}
        <div class="map-preview">
            <a href="{% if catalog %}{% url "map" catalog map.id %}{% else %}{% url "map" map.id %}{% endif %}">
                <img src="{% if catalog %}{% url "mbtilesmap:preview" catalog map.id %}{% else %}{% url "mbtilesmap:preview" map.id %}{% endif %}"/>
                <span class="map-title">{{ map.name }}</span>
            </a>
        </div>
    {% empty %}
        {% trans "Catalog folder is empty." %}
    {% endfor %}
{% endblock body %}
